body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 13px;
  padding: 30px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.mark {
  fill-opacity: 0.6;
  stroke: #333;
  stroke-width: 0.3;
}

/*
   colors for each disaster categories
 */

#winter-storm-freeze {
  fill: 	#ccc;
}

#drought-wildfire {
  fill: 	#ffffd9;
}

#flooding {
  fill: 	#41b6c4;
}

#tropical-cyclone {
  fill: 	#081d58;
}

#severe-storm {
  fill: 	#c7e9b4;
}

.max-label {
  font-size: 10px;
  opacity: 0.8;
}
